---
import { getCollection } from "astro:content"
import { Image } from "astro:assets"

import Layout from '../layouts/Layout.astro'
import PostListing from "@components/PostListing.astro"
import avatarThumbnail from "@img/avatar-thumbnail.jpg"

const socialLinks = [
  { service: "Telegram", href: "https://t.me/RandomGeek" },
  { service: "Mastodon", href: "https://hackers.town/@randomgeek" },
  { service: "Liberapay", href: "https://liberapay.com/randomgeek" },
  { service: "LinkedIn", href: "https://linkedin.com/in/brianwisti" },
  { service: "GitHub", href: "https://github.com/brianwisti" },
]
const posts = await getCollection("posts")
const limit = 4
const data = {
  title: "Home",
}
---

<Layout {data} >
  <article>
    <aside class="h-card my-8">
      <header class="text-lg text-center">
        <a class="u-url u-uid font-bold" href="https://randomgeekery.org">
          <span class="p-name">Brian Wisti</span>
        </a>
        ( <a class="u-pronoun" href="https://pronoun.is/he">he / him / his</a> )
      </header>
      <div class="flex space-between">
        <Image src={avatarThumbnail} alt="Brian Wisti" height="256" width="192" class="u-photo rounded-md" />
        <div class="mx-4 prose md:prose-lg dark:prose-invert">
          <p class="p-note">
            Caffeinated, occasionally crafty geek from the Pacific Northwest, now living in <span class="p-locality">Tucson</span>. I like <span class="p-category">FOSS</span>, <a class="p-category" href="/tags/drawing/">drawing</a>, and <a class="p-category" href="/tags/knitting/">yarn</a>.
          </p>

          <p>
            Random Geekery serves as an anchor for my <span class="p-category">ADHD</span> brain.
            I can look at any point in its history to get a reminder what I was doing and how I was feeling at that time.
            I share for a little bit of public accountability and so that maybe my notes, obsessions, and sketches can be helpful or at least entertaining to someone else out there.
          </p>

          <p>
          Did you know you can <em>buy</em> some of those drawings on shirts,
          mugs, stickers, tapestries, etc? It's true!
          You can find my designs on <a href="https://randomgeekery.threadless.com">Threadless</a> and
          <a href="https://www.designbyhumans.com/shop/randomgeek/">Design By Humans</a>
          </p>
          <ul class="flex justify-evenly mt-4">
            {socialLinks.map((link) => <li class="inline-block"> <a rel="me" href={link.href} class="u-url" title={link.service} aria-label={link.service}> {link.service} </a> </li>)}
          </ul>
        </div>
      </div>
    </aside>
    <p class="m-4 text-lg">Anyway, here's my blog and stuff.</p>
    <PostListing {posts} {limit} />
  </article>
</Layout>

<style type="text/scss">
  .u-photo {
    width: 192px;
    @media (max-width: 800px) {
      display: none;
    }
  }
</style>
