---
import { getCollection } from "astro:content"
import { Image } from "astro:assets"

import Layout from '../layouts/Layout.astro'
import PostListing from "@components/PostListing.astro"
import TagLink from "@components/TagLink.astro"
import avatarThumbnail from "@img/avatar-thumbnail.jpg"

const socialLinks = [
  { service: "Telegram", href: "https://t.me/RandomGeek" },
  { service: "Mastodon", href: "https://hackers.town/@randomgeek" },
  { service: "Liberapay", href: "https://liberapay.com/randomgeek" },
  { service: "LinkedIn", href: "https://linkedin.com/in/brianwisti" },
]
const posts = await getCollection("posts")
const limit = 4
---

<Layout title="Home">
  <aside class="h-card">
    <header>
      <a class="u-url u-uid" href="https://randomgeekery.org">
        <span class="p-name">Brian Wisti</span>
      </a>
      ( <a class="u-pronoun" href="https://pronoun.is/he">he / him / his</a> )
    </header>
    <div class="body">
      <Image src={avatarThumbnail} alt="Brian Wisti" height="256" width="192" class="u-photo" />
      <div class="notes">
        <p class="p-note">
          Caffeinated, occasionally crafty geek from the Pacific Northwest, now living in <span class="p-locality">Tucson</span>. I like <span class="p-category">FOSS</span>, <a class="p-category" href="/tags/drawing/">drawing</a>, and <a class="p-category" href="/tags/knitting/">yarn</a>.
        </p>

        <p>
        Did you know you can <em>buy</em> some of those drawings on shirts,
        mugs, stickers, tapestries, etc? It's true!
        You can find my designs on <a href="https://randomgeekery.threadless.com">Threadless</a> and
        <a href="https://www.designbyhumans.com/shop/randomgeek/">Design By Humans</a>
        </p>
        <ul>
          {socialLinks.map((link) => <li> <a rel="me" href={link.href} class="u-url" title={link.service} aria-label={link.service}> {link.service} </a> </li>)}
        </ul>
      </div>
    </div>
  </aside>
  <article>
    <p>Anyway, here's my blog and stuff.</p>
    <PostListing {posts} {limit } />
  </article>
</Layout>

<style type="text/scss">
  aside {
    padding-block-end: 0;
  }

  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;

    li {
      font-size: 80%;
      display: inline-block;
    }
  }

  .u-photo {
    width: 192px;
  }

  .body {
    display: flex;
    justify-content: space-between;
  }

  .notes {
    margin: 0 1rem;
  }
</style>
