---
import path from "node:path"

import type { ImageMetadata } from "astro"
import { Image } from "astro:assets"

interface Props {
  base: string
  format?: string
}

const images = import.meta.glob<{ default: ImageMetadata}>("@img/**/*.{jpg,png}")

const { base, format } = Astro.props as Props
const imageFormat = format || "jpg"
const lineworkPath = `/src/assets/img/${base}-linework.${imageFormat}`
const thumbnailPath = `/src/assets/img/${base}-linework-96x96.${imageFormat}`
const linework = await images[lineworkPath]()
const thumbnail = images[thumbnailPath]()
const filename = path.basename(lineworkPath)
---
<div class="image-link">
  <div class="image-link-preview">
    <a href={linework.default.src}>
      <Image src={thumbnail} alt="thumbnail of linked image" height="96" width="96" />
    </a>
  </div>
  <div class="image-link-details">
    <ul>
      <li>
        <a href={linework.default.src}>
          <tt>{filename}</tt>
        </a>
      </li>
      <li>format: {linework.default.format}</li>
      <li>{linework.default.width} pixels wide, {linework.default.height} pixels high</li>
      <li>Licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Attribution 4.0 International (CC BY 4.0)</a></li>
    </ul>
  </div>
</div>

<style>
  .image-link {
    display: grid;
    grid-template-columns: 96px 1fr;
    gap: 1em;
    margin-bottom: 1em;
  }

  .image-link-details {
    padding: 0;
  }

  .image-link-details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .image-link-details li {
    margin: 0;
  }
