---
import { Icon } from "astro-icon/components"

const { name, href, title } = Astro.props
---
<a {href} {title} class="px-2 hover:text-active-400">
  <Icon {name} {title} height={32} width={32} aria-hidden="true" />
  <span class="sr-only">{title}</span>
</a>
