---
import MarkdocImage from "./MarkdocImage.astro"
import PostDescription from "@components/PostDescription.astro"
import PostMetadata from "./PostMetadata.astro"

interface Post {
    data: {
        title: string
        date: Date
        tags: string[]
        categories: string[]
        cover_image?: string
    };
    id: string
}

interface Props {
    post: Post;
}

const { post } = Astro.props
const { title, date, tags, description, categories, cover_image } = post.data
// thumbnails
const widths = [256]
---

<section class="h-entry">
    <header>
      <a href={`/post/${post.id}/`}>
          {title}
      </a>
      {description ? <PostDescription {description} /> : ""}
    </header>
    {
        cover_image ? (
            <MarkdocImage
                src={cover_image}
                {widths}
                alt=""
            />
        ) : (
            ""
        )
    }
    <footer>
      <PostMetadata {date} {categories} {tags} />
    </footer>
</section>

<style>
    section {
      outline: thin solid var(--rg-color-line);
      background-color: var(--rg-color-accent);
      border-radius: var(--rg-border-radius);
      margin-block-end: 1rem;
      padding-block: 1em;
      padding-inline: 1em;

      &:has(figure) {
        display: grid;
        padding-inline: 0;
        grid-template-columns: [main] 256px [accent] auto;
        grid-template-rows: [header] 1fr [footer] auto;

        header {
          padding-inline: 1em;
        }

        footer {
          padding-inline: 1em;
        }
      }

      header {
        padding-block-end: 0.5rem;
        font-size: var(--rg-font-size-smaller);

        a {
          display: block;
          margin-block-start: 0;
        }
      }

      figure {
        margin-block: -1em;
        margin-inline: 0;
        padding: 0;
        grid-row-start: header;
        grid-row-end: span 2;
        grid-column-start: main;
        grid-column-end: main;

        img {
          max-width: 100%;
          aspect-ratio: var(--ratio-landscape);
          border-radius: var(--rg-border-radius) 0 0 var(--rg-border-radius);
        }

        footer {
          grid-row-start: footer;
          grid-row-end: footer;
          grid-column-start: main;
          grid-column-end: accent;
        }
      }

    }
</style>
