---
import MarkdocImage from "./MarkdocImage.astro"
import PostDescription from "@components/PostDescription.astro"
import PostMetadata from "./PostMetadata.astro"
import type { PostInterface } from "@lib/Post.ts"

interface Props {
    post: PostInterface;
}

const { post } = Astro.props
const { data } = post
const { title, description, cover_image } = data
// thumbnails
const widths = [256]
---

<section class="h-entry">
    <header>
      <a href={`/post/${post.id}/`}>
          {title}
      </a>
      {description ? <PostDescription {description} /> : ""}
    </header>
    {
        cover_image ? (
            <MarkdocImage
                src={cover_image}
                class="overflow-hidden"
                {widths}
                alt=""
            />
        ) : (
            ""
        )
    }
    <footer>
      <PostMetadata {data} />
    </footer>
</section>

<style>
    section {
      margin-block-end: var(--rg-spacing-4);
      padding: var(--rg-spacing-2);
      border-radius: var(--rg-border-radius);

      header {
          font-size: 1.1em;

          a {
            font-weight: bold;
            font-size: 1.1em;
          }
      }

      &:has(figure) {
        display: grid;
        padding-inline: 0;
        grid-template-columns: [main] 256px [accent] auto;
        grid-template-rows: [header] 1fr [footer] auto;

        header {
          padding-inline: 1em;
        }

        footer {
          padding-inline: 1em;
        }

        @media(max-width: 800px) {
          display: block;
        }
      }

      header {
        padding-block-end: var(--rg-spacing);

        a {
          display: block;
          margin-block-start: 0;
        }
      }

      figure {
        margin-block: -1em;
        margin-inline: 0;
        padding: 0;
        grid-row-start: header;
        grid-row-end: span 2;
        grid-column-start: main;
        grid-column-end: main;

        footer {
          grid-row-start: footer;
          grid-row-end: footer;
          grid-column-start: main;
          grid-column-end: accent;
        }

        @media(max-width: 800px) {
          display: none;
        }
      }

    }
</style>
