---
import PostMetadata from "./PostMetadata.astro";

interface Post {
    data: {
        title: string;
        date: Date;
        tags: string[];
        categories: string[];
    };
    id: string;
}

interface Props {
    post: Post;
}

const { post } = Astro.props;
const { title, date, tags, categories } = post.data;
---

<section>
    <header>
        <a href={`/post/${post.id}/`}>
            {title}
        </a>
        <PostMetadata {date} {categories} {tags} />
    </header>
</section>

<style>
    section {
        border-bottom: 1px solid var(--sand-3);
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    header {
        font-size: var(--font-size-3);
        margin-bottom: 0.5rem;
    }
</style>
