---
import MarkdocImage from "./MarkdocImage.astro";
import PostDescription from "@components/PostDescription.astro";
import PostMetadata from "./PostMetadata.astro";

interface Post {
    data: {
        title: string;
        date: Date;
        tags: string[];
        categories: string[];
        cover_image?: string;
    };
    id: string;
}

interface Props {
    post: Post;
}

const { post } = Astro.props;
const { title, date, tags, description, categories, cover_image } = post.data;
---

<section>
    <header>
        <a href={`/post/${post.id}/`}>
            <h3>{title}</h3>
            {
                cover_image ? (
                    <MarkdocImage
                        src={cover_image}
                        alt=""
                        widths={[300, 400, 500]}
                    />
                ) : (
                    ""
                )
            }
            {description ? <PostDescription {description} /> : ""}
        </a>
    </header>
    <footer>
        <PostMetadata {date} {categories} {tags} />
    </footer>
</section>

<style>
    section {
        border: 1px solid var(--sand-3);
        background-color: var(--sand-1);
        border-radius: var(--radius-2);
        margin-block-end: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        header {
            font-size: var(--font-size-3);
            margin-block-end: 0.5rem;

            a {
                color: var(--sand-11);
                text-decoration: none;
            }

            h3 {
                margin-block-start: 0;
            }
        }

        figure {
            margin: 0;
        }
    }
</style>
