---
import CategoryLink from "./CategoryLink.astro"
import SeriesLink from "./SeriesLink.astro"
import TagLink from "./TagLink.astro"
import Timestamp from "./Timestamp.astro"
import UsesLink from "@components/UsesLink.astro"

interface Props {
    date: Date
    categories: string[]
    tags: string[]
    series: string[]
}

const { data } = Astro.props
const { date, categories, tags, series, uses } = data
---

<div class="flex">
  <Timestamp class="grow self-end" {date} />
  <div>
    {series
      ? <div class="text-right mb-2">
          {series.map((thisSeries) =>
            <SeriesLink series={thisSeries} />)}
        </div>
      : "" }
    {categories.map((category) =>
      <CategoryLink {category} />)}
    {uses.map((used) =>
      <UsesLink {used} />)}
    {tags.map((tag) =>
      <TagLink {tag} />)}
  </div>
</div>

<style>
  div {
    display: flex;

    time:first-child {
      flex-grow: 1;
    }
  }
</style>
