---
import SiteFooter from "@components/SiteFooter.astro"
import SiteHeader from "@components/SiteHeader.astro"
import type { PageData } from "@lib/Post"

import "/src/styles/global.scss"

interface Props {
  data: PageData
}

const { data } = Astro.props as Props
const { title, description } = data
const pageTitle = title ? `${title} : Random Geekery` : "Random Geekery"
const isProd = import.meta.env.PROD
---

<!doctype html>
<html lang="en">
    <head>
        <title>{pageTitle}</title>
        <meta name="title" content={pageTitle} />
        {description ? <meta name="description" content={description} /> : "" }
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="robots" content="index,follow" />
        <meta name="googlebot" content="index,follow" />
        <meta name="author" content="Brian Wisti" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            rel="alternate"
            type="application/rss+xml"
            href="/index.xml"
            title="Random Geekery"/>
    </head>
    <body>
        <SiteHeader />
        <main>
            <slot />
        </main>
        <SiteFooter />
        {isProd ?
          <script data-goatcounter="https://randomgeekery.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
          : "" }
    </body>
</html>

<style>
  main {
    padding: var(--rg-spacing);
    max-width: var(--rg-width-content);
    margin: 0 auto;
    font-size: var(--rg-font-size-prose);
  }
</style>
