---
import SiteFooter from "@components/SiteFooter.astro"
import SiteHeader from "@components/SiteHeader.astro"
import type { PostData } from "@lib/Post";

interface Props {
  data: PostData
}

const { data } = Astro.props as Props
const { title, description } = data
const pageTitle = title ? `${title} : Random Geekery` : "Random Geekery"
const isProd = import.meta.env.PROD
---

<!doctype html>
<html lang="en">
    <head>
        <title>{pageTitle}</title>
        <meta name="title" content={pageTitle} />
        {description ? <meta name="description" content={description} /> : "" }
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="robots" content="index,follow" />
        <meta name="googlebot" content="index,follow" />
        <meta name="author" content="Brian Wisti" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            rel="alternate"
            type="application/rss+xml"
            href="/index.xml"
            title="Random Geekery"/>
    </head>
    <body class="bg-amber-50 dark:bg-amber-950 text-slate-950 dark:text-slate-50">
        <SiteHeader />
        <main class="container mx-auto">
            <slot />
        </main>
        <SiteFooter />
        {isProd ?
          <script data-goatcounter="https://randomgeekery.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
          : "" }
    </body>
</html>

<style is:global type="text/scss">
    :root {
      color-scheme: light dark;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    blockquote {
      font-style: italic;
      padding-inline-start: 1em;
      margin-bottom: 0.25em;
    }

    pre {
        white-space: pre;
        overflow-x: auto;
        padding: 1rem;

    }

    .attribution {
      text-align: center;
    }

    .expressive-code {
      margin-block: 2rem;
    }
</style>
