---
import CategoryLink from "@components/CategoryLink.astro"
import InfoBlock from "@components/InfoBlock.astro"
import MarkdocImage from "@components/MarkdocImage.astro"
import PageLayout from "@layouts/PageLayout.astro"
import PostDescription from "@components/PostDescription.astro"
import PostMetadata from "@components/PostMetadata.astro"
import SeriesLink from "@components/SeriesLink.astro"
import TagLink from "@components/TagLink.astro"
import Timestamp from "@components/Timestamp.astro"
import UsesLink from "@components/UsesLink.astro"


import type { PostData } from "@lib/Post"

interface Props {
  data: PostData
}

const { data  } = Astro.props as Props
const { title, cover_image, date, series, categories, uses, tags, cover_caption = "", description } = data
---
<PageLayout {data}>
    <article class="py-8">
      {cover_image ?
        <header class="mb-8 lg:flex lg:justify-center">
          <MarkdocImage src={cover_image} alt={cover_caption} title={cover_caption} />
          <div class="sm:grid sm:grid-cols-2 lg:block lg:ms-2 p-4 bg-base-300 dark:bg-base-700 rounded-lg">
            <InfoBlock title="Posted">
              <Timestamp class="text-lg" {date} />
            </InfoBlock>
            {series.length > 0
            ? <InfoBlock title="Series">
                {series.map((thisSeries) => <SeriesLink series={thisSeries} />)}
              </InfoBlock>
              : "" }
            {categories
            ? <InfoBlock title="Categories">
                {categories.map((category) => <CategoryLink {category} />)}
              </InfoBlock>
              : "" }
            {uses.length > 0
            ? <InfoBlock title="Uses">
                {uses.map((used) => <UsesLink {used} />)}
              </InfoBlock>
              : "" }
            {tags.length > 0
            ? <InfoBlock title="Tags">
                {tags.map((tag) => <TagLink {tag} />)}
              </InfoBlock>
              : "" }
          </div>
        </header>
        : <header><PostMetadata {data} /></header>}
        <section class="prose md:prose-l lg:prose-xl mx-auto dark:prose-invert">
          <slot />
        </section>
    </article>
</PageLayout>
